<html>
  <head>
    <title>Отправитель</title>
  </head>
  <body>
    <div class="main">
      <div>Описание заявки</div>
      <input type="text" name="text" id = "text"></input>
      <br>
      <div>chat_id</div>
      <input type="text" name="chat_id" id = "chat_id"></input>
      <br>
      <input type="submit" value="Отправить"id="submit_button"></input>
    </div>
    <script>

    let submit_button = document.getElementById('submit_button');
    submit_button.addEventListener("click", function (event) {
        let request = new XMLHttpRequest();
        let url =  "https://api.telegram.org/bot1128488996:AAHIwMHnJoq85VhgUMncZ9295HNmhTNPNH0/sendMessage";
        let chat_id = document.getElementById('chat_id').value;
        let text = document.getElementById('text').value;
        // console.log(chat_id.value);
        let params =
          {
            "chat_id": chat_id,
            "reply_markup": {
            "inline_keyboard": [[
                {"text":"Принять заявку",
                 "callback_data":"data"}
              ]]
            },
            "text": text
          }


        request.open("POST", url, true);
        // request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        request.send(JSON.stringify(params));


        request.onreadystatechange = function (){
            if (request.readyState === 4 && request.status === 200) {
            let obj = request.response;
            console.log(obj);
            }
        }
    });

    </script>
  </body>
</html>
