<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<div class = "main" style="display  : flex;Justify-content : space-around">
    <div class = "left">
      <div>Описание заявки</div>
      <input type="text" name="text" id = "text"></input>
      <br>
      <select id="select">
      {%for index in load.info_status%}
        <option value='{{index.id}}'>{{index.name}}</option>
        {%endfor%}
      </select>
      <br>
      <input type="submit" value="Отправить"id="send"></input>
    </div>
    <div class = "right">
    <table>
      <tr><th>ФИО</th><th>Cтатус</th></tr>
      {%for index in load.info_status%}
        <tr><td>{{index.name}}</td><td>{{index.status}}</td></tr>
      {%endfor%}
    </table>
  </div>
</div>


    <script>
      let send_btn = document.querySelector('#send')
      send_btn.addEventListener('click',function(){
          let selector = document.querySelector('#select')
          console.log(selector.value)

          let url = '/send_message';
          let request = new XMLHttpRequest();
          request.open('POST',url,true);

          let data = {"id":selector.value,"text":document.querySelector('#text').value}
          request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
          request.send(JSON.stringify(data))
      });

    </script>


  </body>
</html>
