<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="main">
      <div>Описание заявки</div>
      <input type="text" name="text" id = "text"></input>
      <br>
      <select>
      {%for index in load.info_status%}
        <option>{{index.id}}</option>
        {%endfor%}
      </select>

      <br>
      <input type="submit" value="Отправить"id="submit_button"></input>
    </div>

    <table>
    <tr><th>ФИО</th><th>Cтатус</th></tr>
    {%for index in load.info_status%}
      <tr><td>{{index.id}}</td><td>{{index.status}}</td></tr>
      {%endfor%}
    </table>

  </body>
</html>
